body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 600px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #007bff;
    margin-bottom: 20px;
}

#form-container p {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
}

button[type="submit"], #copyButton, #shortenAnotherButton {
    padding: 10px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button[type="submit"]:hover, #copyButton:hover, #shortenAnotherButton:hover {
    background-color: #0056b3;
}

p {
    font-size: 14px;
    color: #666;
}

#result p {
    font-size: 16px;
    margin: 10px 0;
}

#result button {
    margin-top: 10px;
    margin-left: -8px;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#result {
    margin-top: 20px;
}

#error {
    color: red;
    font-weight: bold;
}

.error-message {
    color: red;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    background-color: #f1f1f1;
    color: #333;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#shortUrl {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
    text-align: left;
    cursor: pointer;
    color: black;
}

#shortUrl:hover {
    text-decoration: underline;
}

#copyButton {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#copyButton:hover {
    background-color: #007B9A;
}

#visitorCount {
    margin-top: 20px;
    font-size: 16px;
    color: #007bff;
}
